@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter Tight', sans-serif;
}

.contact-section-bg {
    background: radial-gradient(142.37% 173.38% at 55.46% 55%,#a935ff 0%,#ff6643 100%);
}
.job-titles {
  transform: translate(-100px, 50px);
  opacity: 0;
  transition: all 1.2s ease;
}
.job-titles.show {
  transform: translate(0, 0);
  opacity: 1;
}
.job-small-title {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}
.job-small-title.show {
  transform: translateY(0);
  opacity: 1;
}
.job-rounded-button {
  scale: 0;
  transition: all 2s ease;
}
.job-rounded-button.show {
  scale: 1;
}
.parallax-image {
    /* Set a specific height */
    min-height: auto;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
/* Hero Animation */
.gradients-container {
  filter: url(#goo) blur(40px) ;
}
.filter-svg {
  display: none;
}
@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(18, 113, 255, 0.8) 0, rgba(18, 113, 255, 0) 50%) no-repeat;
    width: 80%;
    height: 80%;
    top: calc(50% - (80%) / 2);
    left: calc(50% - (80%) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}
.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(221, 74, 255, 0.8) 0, rgba(221, 74, 255, 0) 50%) no-repeat;
    width: 80%;
    height: 80%;
    top: calc(50% - (80%) / 2 + 200px);
    left: calc(50% - (80%) / 2 - 500px);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}
.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(100, 220, 255, 0.8) 0, rgba(100, 220, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;
    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2 + 200px);
    left: calc(50% - 80% / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}
  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgb(141 26 234 / 80%) 0, rgba(200, 50, 50, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;
    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}
.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgb(225 32 229 / 80%) 0, rgba(180, 180, 50, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;
    width: calc(60% * 2);
    height: calc(60% * 2);
    top: calc(50% - 80%);
    left: calc(50% - 80%);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}
.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(140, 100, 255, 0.8) 0, rgba(140, 100, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
.remove-first-job-image {
  background-position: -1100px;
}
.second-job-image {
  transform: translateX(100%);
}
.add-blur {
  filter: blur(1px);
}
.follow-cursor {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
  0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) scale,
  0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 99;
  transform: translate(-50%, -50%);
}
.follow-cursor.active {
  opacity: 0.3;
  transform: scale(1.3) translate(-15%, -15%);
}